body {
    background: rgb(1,0,9);
    background: linear-gradient(to bottom, slategray, black);
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: rgb(65, 2, 65);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.start-btn {
    width: 250px;
    height: 75px;
    font-size: 25px;
}

.quote {
    font-size: 45px;
    font-style: italic;
    font-weight: bolder;
    color: lavender;
}

.quote-container {
    padding: 30px 0 0 0;
    background-image: url("../images/tv.jpg");
    background-size: cover;
    height: 600px;
    width: 800px;
}

.answers{
    background-image: url("../images/woodgrain-1889.svg");
    background-size: cover;
    border: black solid 3px;
    height: fit-content;
}
.answers div button{
    width: 50%;
    height: 40px;
    margin: 10px 0;
    font-size: 20px;
    background-color: darkgoldenrod;
    color: lavender;
    border: black solid 3px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}