body {
    background: rgb(1,0,9);
    background: linear-gradient(to bottom, slategray, black);
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: rgb(65, 2, 65);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tv{
     border: black solid 5px;
     background-image: url("../images/woodgrain-1889.svg");
     background-size: cover;
     width: 100%;
     height: 800px;
}

.quote-container {
    background-image: url(../images/tv.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: black solid 3px;
    border-radius: 10% / 50%;
    margin: 2% 0 auto;
}
.quote-container div{
    margin: auto;
    width: fit-content;
    min-height: 650px;
}

.quote {
    width: fit-content;
    margin: auto;
    font-size: 45px;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    color: lavender;
}

.answers{
    background-image: url("../images/woodgrain-1889.svg");
    background-size: cover;
    border: black solid 3px;
    height: fit-content;
}
.answers div button{
    width: 50%;
    height: fit-content;
    padding: 1%;
    margin: 10px 0;
    font-size: 20px;
    background-color: darkgoldenrod;
    color: rgb(65, 2, 65);
    border: black solid 3px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}